:root {
    --main-bg-color: rgba(24, 0, 97, 0.448);
    --sec-bg-color: #100d0d92;
    --btn-color: #68655f;
    --hover-color: #d4ff00b3;
    --primary-color: #fbbe44;
    --secondary-color: #4efe4ea7;
    --border-color: #0000009f;    
  }