:root {
    --main-bg-color: rgba(24, 0, 97, 0.448);
    --sec-bg-color: #100d0d92;
    --btn-color: #68655f;
    --hover-color: rgb(146, 142, 135)5f;
    --primary-color: #fbbe44;
    --secondary-color: #4efe4ea7;
    --border-color: #00000081;    
  }